.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr 8fr;
  // border: 1px solid rgb(0, 38, 255);
  padding: 24px 0;
  // gap: 10px;
}

.selectedMachines {
  display: contents;
}

.selectedMachines-input {
  grid-column: 1 / 2;
  display: flex;
  justify-content: flex-start;
  // padding: 8px;

  input {
    width: 430px;
    height: 32px;
  }
}

.machine-instance-row {
  display: contents;
}


.selectedMachines-connecting-line {
  grid-column: 2 / 3;
  // display: flex;
  // justify-content: flex-start; /* Align items from the left */
  // align-items: center;
  position: relative;

  .line {
    position: relative;
    height: 1px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .left-icon {
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
    margin-right: 5px;
  }

  .selectedMachines-connecting-line-text {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #7e4b91;
    color: #fff;
    font-weight: bold;
    font-size: 8px;
    padding: 4px;
    border-radius: 12px;
    text-align: center;
  }

  .right-icon {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #6f2b85;
    margin-left: 5px;
  }

  &.second-line {
    position: relative;
    margin-left: 20px;

    .vertical-line {
      position: absolute;
      left: 4px;
      top: -52px;
      width: 1px;
      height: auto;
      background-color: blue;
    }
  }
}

.machine-instance {
  grid-column: 3 / 4;
}

.machine-instance-details {
  padding: 4px;
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-machine-button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 10%;
  margin-bottom: 16px;
}

.add-machine-button:hover {
  background-color: #45a049;
}

.selectedMachines-connecting-line {
  margin-top: 20px;
}

.vertical-line {
  position: absolute;
  left: 24px;
  top: 0;
  width: 1px;
  height: auto;
  background-color: blue;
}

.selectedMachines-connecting-line.no-instance-line {
  margin-top: 20px;
}

.selectedMachines-connecting-line.no-instance-line .line {
  width: 100%;
  background-color: blue;
  height: 1px;
  position: relative;
}

.selectedMachines-connecting-line.no-instance-line
  .selectedMachines-connecting-line-text {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #7e4b91;
  color: white;
  font-weight: bold;
  font-size: 8px;
  padding: 4px;
  border-radius: 12px;
  text-align: center;
}

.run-level-execution-dataset p {
  margin: 0;
  font-size: 12px;
}

.run-level-execution-dataset {
  padding: 8px;
  background: #e0e0e0;
  border: 1px solid #ccc;
  margin-bottom: 8px;
  border-radius: 4px;
  margin-bottom: 16px;
}

.run-level-execution-dataset {
  background: #e47272;
  border: 1px solid #ccc;
  margin-bottom: 8px;
  border-radius: 4px;
  margin-bottom: 16px;
  position: relative;
  .curved-connector {
    position: absolute;
    // top: -85px;
    left: -6%;
    transform: translateX(-50%);
    width: 40px;
    height: 0;
  
    .curve {
      position: relative;
      width: 72px;
      height: 0;
      border: 1px dashed #71347b;
      border-top: none;
      border-right: none;
      border-bottom-left-radius: 8px;
      display: flex;
      flex-direction: column-reverse;
    
      .curve-right-icon {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #6f2b85;
        margin-left: 60px;
        position: absolute;
        bottom: -5px;
      }
      .selectedMachines-connecting-line-text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: #7e4b91;
        color: #fff;
        font-weight: bold;
        font-size: 8px;
        padding: 4px;
        border-radius: 12px;
        text-align: center;
      }
    }
    .connector-0 {
      border: none;
   }
   .curve-right-icon-0{
    display: none;
   }
  }
}
